<%-include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/home.css">
<title>
    <%=title%>
</title>
</head>
<body>
    <%-include('../includes/nav_user.ejs')%>
    <main>

      <!-- banner section -->
        <section>
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" id="one">
                    <p class="para1">HERE AT "SWASTH RAKSHAK" WE OFFER</p>
                    <p class="para2">MULTI SYSTEM MEDICAL<br>FACILITY</p>
                    <a href="#" class="btn btn1">READ MORE <i class="fa-solid fa-circle-arrow-right"></i></a>
                  </div>
                  <div class="carousel-item" id="two">
                    <p class="para1">HERE AT "SWASTH RAKSHAK" WE OFFER</p>
                    <p class="para2">MULTI SYSTEM MEDICAL<br>FACILITY</p>
                    <a href="#" class="btn btn1">READ MORE <i class="fa-solid fa-circle-arrow-right"></i></a>
                  </div>
                  <div class="carousel-item" id="three">
                    <p class="para1">HERE AT "SWASTH RAKSHAK" WE OFFER</p>
                    <p class="para2">MULTI SYSTEM MEDICAL<br>FACILITY</p>
                    <a href="#" class="btn btn1">READ MORE <i class="fa-solid fa-circle-arrow-right"></i></a>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>

        <!-- about section -->
        <section class="about">
            <div class="d-flex">
                <div id="abt1">
                    <p class="para3">About Our Vision</p>
                    <p class="para4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p class="para5">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                    <a href="#" class="btn btn2">READ MORE <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
                <div id="abt2">
                    <div class="card" style="height:43rem; width: 23rem;">
                        <div id="crd1">
                            <p id="para6">Emergency Cases</p>
                            <p id="para7"><i class="fa-solid fa-phone"></i>&nbsp1 910-626-85255</p>
                            <hr class="ms-5 me-5 text-light">
                            <p id="para8">We provide 24/7 <br> professional emergency help.</p>
                        </div>
                        <div class="card-body">
                          <p id="para9">Opening Hours</p>
                          <p class="para10">Weekdays <span id="para11">10:00-20:00</span></p>
                          <hr class="ms-4 me-4 text-dark">
                          <p class="para10">Saturday <span id="para12">10:00-17:30</span></p>
                          <hr class="ms-4 me-4 text-dark">
                          <p class="para10">Sunday <span id="para13">10:00-15:00</span></p>
                        </div>
                      </div>
                </div>
            </div>
        </section>
        
        <!-- department & doctor section -->
         <section class="deptdoc">
          <div class="dept">
            <p class="para14">Departments</p>
            <div class="deptt">
              <div class="fragment">
                <i class="fa-solid icons fa-heart-pulse"></i>
                <p class="para15">CARDIOLOGY</p>
              </div>
              <div class="fragment1">
                <i class="fa-solid icons fa-eye"></i>
                <p class="para16">OPTHALMOLOGY</p>
              </div>
              <div class="fragment1">
                <i class="fa-solid icons fa-brain"></i>
                <p class="para17">NEUROLOGY</p>
              </div>
              <div class="fragment1">
                <i class="fa-solid icons fa-bone"></i>
                <p class="para17">ORTHOPEDIC</p>
              </div>
              <div class="fragment">
                <i class="fa-solid icons fa-venus"></i>
                <p class="para15">GYNOCOLOGY</p>
              </div>
              <div class="fragment1">
                <i class="fa-solid icons fa-user-doctor"></i>
                <p class="para17">PULMONARY</p>
              </div>
              <div class="fragment1">
                <i class="fa-solid icons fa-tooth"></i>
                <p class="para18">DENTIST</p>
              </div>
              <div class="fragment1">
                <i class="fa-solid icons fa-stethoscope"></i>
                <p class="para15">DIAGNOSTICS</p>
              </div>
            </div>
          </div>
          <div class="doc">
            <p class="para19">Our Doctors</p>
              <div class="docflex">
                <%for(let i in data){%>
                <div class="card docs" style="width: 18rem;">
                    <img src="/doctors/<%=data[i].doc_photo%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title text-center text-dark fw-bold mx-2">Dr. <%=data[i].doc_name%></h4>
                      <h6 class="card-text text-center text-dark fw-bold mt-4 mx-2"><%=data[i].doc_degree%> (<%=data[i].doc_experience%>)</h6>
                      <h6 class="card-text text-center text-dark fw-bold mt-2 mx-2"><%=data[i].doc_specialization%></h6>
                    </div>
                  </div>
                  <%}%>
              </div>
            </div>
         </section>
         <section class="contact">
            <p class="para20">Connect With Us</p>
            <p class="para21">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn3">ENQUIRE NOW <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </section>
    </main>
<%-include('../includes/footer.ejs')%>