<%-include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/login.css">
<title>
    <%=title%>
</title>
</head>
<body>
    <main>
        <div class="login">
            <div class="form1">
                <form action="/user/postlogin" method="POST" autocomplete="off">
                    <h2 class="text-center para1 fw-semibold mb-5">Sign In</h2>
                    <div class="mb-3">
                        <p class="text-success text-center fw-semibold fs-6"><%=success_verify%></p>
                    </div>
                    <div class="mb-3">
                        <p class="text-success text-center fw-semibold fs-6"><%=update_password%></p>
                    </div>
                    <div class="mb-3">
                        <p class="text-danger text-center fw-semibold fs-6"><%=error_pass_match%></p>
                    </div>
                    <div class="mb-3">
                        <p class="text-danger text-center fw-semibold fs-6"><%=error_mail_match%></p>
                    </div>
                    <div class="mb-3">
                        <p class="text-danger text-center fw-semibold fs-6"><%=error_log%></p>
                    </div>
                    <div class="mb-3">
                        <label for="login_email" class="form-label">Email Id</label>
                        <input type="email" class="form-control" name="login_email" id="login_email" placeholder="Your Email Id">
                    </div>
                    <div class="mb-3">
                        <label for="login_password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="login_password" id="login_password" placeholder="Your Password">
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn1 form-control">Login</button>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="/recovery/email">Forgot password</a>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <p>New User?&nbsp<a href="/user/registration">Click Here to Sign Up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </main>