<%-include('../includes/header.ejs')%>
<title>
    <%=title%>
</title>
</head>
<body>
    <%-include('../includes/nav_user.ejs')%>
    <main>
        
        <h1 class="text-center text-success fw-bold mt-3 mb-3">Patient Details</h1>
        <div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
            <div class="card bg-light" style="width: 27rem;">
                <%for(let i in data.patient_photo){%>
                <img src="/patients/<%=data.patient_photo[i]%>" class="card-img-top" alt="...">
                <%}%>
                <div class="card-body">
                  <h4 class="card-title text-secondary fw-bold mx-2">Patient Name: <span class="text-success"><%=data.patient_name%></span></h4>
                  <h5 class="card-text text-secondary fw-bold mx-2">Patient Gender: <span class="text-success fw-medium"><%=data.patient_gender%></span></h5>
                  <h5 class="card-text text-secondary fw-bold mx-2">Patient Age: <span class="text-success fw-medium"><%=data.patient_age%></span></h5>
                  <h5 class="card-text text-secondary fw-bold mx-2">Patient Email: <span class="text-success fw-medium"><%=data.patient_email%></span></h5>
                  <div class="d-flex justify-content-center mt-3 mb-2">
                    <a href="/user/logout" class="btn btn-lg btn-danger">Log Out</a>
                  </div>
                </div>
              </div>
        </div>
        <form action="/user/postuserdata" method="POST">
          <input class="mx-5" type="hidden" name="pid" id="pid" value="<%=data._id%>">
          <div class="mt-5 mb-5 d-flex justify-content-center">
            <p class="fs-6 mt-3">Get appointment from our doctors?</p>
            <input type="submit" value="Click here" class="btn btn-sm btn-success mx-2">
          </div>
          
        </form>
    </main>
<%-include('../includes/footer.ejs')%>
