<%-include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/profile.css">
<title>
    <%=title%>
</title>
</head>
<body>
    <%-include('../includes/nav_user.ejs')%>
    <main>
        <div class="appoint">
          <h1 class="para1">Your Profile & Appointments</h1>
        </div>

          <div class="profileflex">
            <div class="patientphoto">
              <%for(let i in data.patient_photo){%>
                <img src="/patients/<%=data.patient_photo[i]%>" class="img1" alt="...">
                <%}%>
            </div>
            <div class="patientdata">
              <table class="table table-hover patientdetails">
                <tbody>
                    <tr class="text-center table-warning"><th class="fw-bold">NAME ::</th><td><%=data.patient_name%></td></tr>
                    <tr class="text-center table-info"><th class="fw-bold">GENDER ::</th><td><%=data.patient_gender%></td></tr>
                    <tr class="text-center table-warning"><th class="fw-bold">AGE ::</th><td><%=data.patient_age%></td></tr>
                    <tr class="text-center table-info"><th class="fw-bold">EMAIL ::</th><td><%=data.patient_email%></td></tr>
                </tbody>
            </table>
            </div>
          </div>
          <div class="mb-2">
            <a href="/user/logout" class="btn btn-lg btn1">Log Out</a>
          </div>
        
          <%if(appointment.length>0){%>
            <h1 class="text-center para2">Your Appointment Details</h1>
            <div class="mx-5 mt-4 mb-2">
              <table class="table table-info table-hover">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Doctor Specialization</th>
                    <th scope="col">Doctor Fees</th>
                    <th scope="col">Appointment Day</th>
                    <th scope="col">Appointment Time</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(let obj of appointment){%>
                    <tr class="text-center">
                      <td><%=obj.doc_name%></td>
                      <td><%=obj.doc_specialization%></td>
                      <td><%=obj.doc_fees%></td>
                      <td><%=obj.appointment_day%></td>
                      <td><%=obj.appointment_time%></td>
                    </tr>
                  <%}%>
                </tbody>
              </table>
            </div>
          <%}else{%>
            <h1 class="para2">Your Appointment Details</h1>
            <div class="mx-5 mt-5 mb-2">
              <table class="table table-info table-hover">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Doctor Specialization</th>
                    <th scope="col">Doctor Fees</th>
                    <th scope="col">Appointment Day</th>
                    <th scope="col">Appointment Time</th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                      <td colspan="5">No appointments yet</td>
                    </tr>
                </tbody>
              </table>
            </div>
          <%}%>
          <div class="mt-5 mb-5 d-flex justify-content-center">
            <p class="fw-semibold">Get appointment from our doctors?</p>
            <a href="/user/getdoctorlist" class="mx-1 fw-semibold">Click here</a>
          </div>
    </main>
<%-include('../includes/footer.ejs')%>
