<%-include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/adminviewDoctor.css">
<title>
<title>
    <%=title%>
</title>
</head>
<body>
    <%-include('../includes/nav_admin.ejs')%>
    <main>
        <div id="admin_doctor">
            <h1 class="para1">Doctors List</h1>
        </div>
        <%if(data.length>0){%>
            <div class="doc_table ms-5 me-5">
                <table class="table table-success table-hover" cellpadding="5px">
                    <thead>
                      <tr class="text-center">
                        <th scope="col">Serial No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Degree</th>
                        <th scope="col">Experience</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Visiting Days</th>
                        <th scope="col">Fees (In ₹)</th>
                        <th scope="col">Email Id</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Modify</th>
                        <th scope="col">Remove</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                        <%for(let i=0;i<data.length;i++){%>
                        <tr class="text-center">
                                <td><%=i+1%>.</td>
                                    <td><%=data[i].fname.charAt(0).toUpperCase()+data[i].fname.slice(1)%> <%=data[i].lname.charAt(0).toUpperCase()+data[i].lname.slice(1)%></td>
                                    <td><%=data[i].doc_degree.toUpperCase()%></td>
                                    <td><%=data[i].doc_experience%> Years</td>
                                    <td><%=data[i].doc_specialization.charAt(0).toUpperCase()+data[i].doc_specialization.slice(1)%></td>
                                    <td>
                                    <%for(let j in data[i].doc_visit_days){%>
                                        <%=data[i].doc_visit_days[j].charAt(0).toUpperCase()+data[i].doc_visit_days[j].slice(1)%>
                                    <%}%>
                                    </td>
                                    <td><%=data[i].doc_fees%></td>
                                    <td><%=data[i].doc_email%></td>
                                    <td><img src="/doctors/<%=data[i].doc_photo%>" alt="..." height="50px" width="50px"></td>
                                    <td>
                                        <form action="/admin/update" method="POST">
                                            <input type="hidden" name="doc_id" id="doc_id" value="<%=data[i]._id%>">
                                            <input type="submit" class="btn btn-warning" value="Update">
                                        </form>
                                    </td>
    
                                    <td>
                                        <form action="/admin/deletedata" method="POST">
                                            <input type="hidden" name="doc_id" id="doc_id" value="<%=data[i]._id%>">
                                            <input type="submit" class="btn btn-danger" value="Delete">
                                        </form>
                                    </td>   
                                </tr>
                        <%}%>
                    </tbody>
                  </table>
                  <div class="mt-5 mb-5 d-flex justify-content-center">
                    <a href="/" class="btn btn-lg btn-success">Back To Switch Page</a>
                  </div>
            </div>
        <%}else{%>
            <h1>Content not found</h1>
        <%}%>
    </main>